<config>
    <compliancecheck id="by_component" title="Basic compliance check test"
        aspects="//compliancecheck[@id='by_component']//aspect"
        aspect_name="@name"
        aspect_description="text()"
        components="document('inputs/testmodel.issues.xml')//issue[@id='151683748']/link"
        component_name="tokenize(@url,'#')[2]"
        component_description="@title">
        <aspects>
            <aspect name="none">Test aspect, all components should fail</aspect>
            <aspect name="coverage">Coverage report covers all files</aspect>
        </aspects>
    </compliancecheck>
</config>
